[submodule "gui"]
	path = gui
url=https://github.com/AdrianArtacho/salta_gui.git
[submodule "pyt"]
	path = pyt
	url = https://bitbucket.org/smoothspaces/pyt_abstractions
[submodule "BackgroundRemoval"]
	path = BackgroundRemoval
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/backgroundremoval.git
