[submodule "gui"]
	path = gui
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
[submodule "pyt"]
	path = pyt
	url = https://bitbucket.org/smoothspaces/pyt_abstractions
[submodule "BackgroundRemoval"]
	path = BackgroundRemoval
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/backgroundremoval.git
